*
{
    margin: 0px;
    padding: 0px;
}

#navigation
{
    height: 70px;
    background-color: rgb(122, 114, 114);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo > img{
 color: white;
}

.links
{
    height: 60px;
    width: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links > a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.links > a:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}
.buy-courses
{
    width: 70px;
    display: flex;
    justify-content: space-between;

    i{
        color: black;
        font-size: 23px;
        
    }
    i:hover{
        background-color: black;
        color: white;
    }
}

#toggle
{
    display: none;
}

@media (max-width: 933px)
{
    .links{
        display: none;
    }
    .buy-courses > a > i {
        display: none;
    }

    #toggle
    {
        display: block;
    }
    .slider > img{
        height: 933px;
        width: 933px
    };
    
}

#toggle:hover
{
    .links
    {
        display: block;
    }
}

.slider
{
    /* background-image: url("./slider-1.jpg"); */
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-color: black;

}

.slider > img{
    height: 100%;
    width: 100%;
}