* {
    margin: 0px;
    padding: 0px;
}

#navigation {
    height: 70px;
    background-color: rgb(122, 114, 114);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo>img {
    color: white;
}

.links {
    height: 60px;
    width: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links>a {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.links>a:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}

.buy-courses {
    width: 70px;
    display: flex;
    justify-content: space-between;

    i {
        color: black;
        font-size: 23px;

    }

    i:hover {
        background-color: black;
        color: white;
    }
}

#toggle {
    display: none;
}

@media (max-width: 933px) {
    .links {
        display: none;
    }

    .buy-courses>a>i {
        display: none;
    }

    #toggle {
        display: block;
    }

    .slider>img {
        height: 933px;
        width: 933px
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 300px);
    }

}

#toggle :hover {
    .links {
        display: block;
    }
}

.slider-container {
    position: relative;
    height: 600px;
    overflow: hidden;
  }
  
  .slides li {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: transform .5s ease;
  }
  
  .slides li.selected {
    z-index: 2;
    transform: translateX(0);
  }
  
  .slides li.move-left {
    transform: translateX(-100%);
  }
  
  .slides li.visible {
    z-index: 2;
  }
  
  .slides li:nth-child(1) {
    background: url(./slider-1.jpg) no-repeat center center;
    background-size: cover;
  }
  .slides li:nth-child(2) {
    background: url(./slider-2.jpg) no-repeat center center;
    background-size: cover;
  }
  .slides li:nth-child(3) {
    background: url(./slider-3.jpg) no-repeat center center;
    background-size: cover;
  }
  .slides li:nth-child(4) {
    background: url(./slider-4.jpg) no-repeat center center;
    background-size: cover;
  }
  
  .slides li > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
  }
  
  .slides h2 {
    margin-top: 0;
  }
  .slider-nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
  }
  .slider-nav a {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  .slider-nav a.next {
    left: auto;
    right: 10px;
  }
  .slider-dot-nav {
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .slider-dot-nav li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .slider-dot-nav a {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: background .3s ease;
  }
  
  .slider-dot-nav a.selected {
    background: #fff;
  }
  
  .text
  {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }

  .grid
  {
    display: grid;
    margin: 1.5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    row-gap: 15px;
    column-gap: 15px;
    /* background-color: aqua; */
  }

  .box
{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.grid-details
{
 
    display: table-column;
    align-items: center;
}
